.globalContainer {
    width: 100vw;
    height: 100vh;
    padding: 0.5rem 0;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1fr 7fr 1fr;
}

.toolsContainer {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 10% 0.5rem;
}

.controlsContainer {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 10% 0.5rem;
}

#container {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
}