.startContainer {
    width: 100vw;
    padding: 2rem 0;
    position: absolute;
    background: white;
    min-height: 90vh;
    margin: 5vh 0;
    
    text-align: center;
}



.startContainer li {
    list-style: none;
    text-decoration: none;
}