
.globalContainer {
    width: 100vw;
    height: 100vh;
    margin: 0.5rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 8fr 1fr;
}

.toolsContainer {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
#container {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}