.controlsContainer {
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background: #212121;
    text-align: center;
    padding: 10% 0;
    position: relative;
}

.containerSmall {
    grid-column-start: 4;
}
.containerBig {
    grid-column-start: 3;
}

.controlsContainer ul {

    margin: 1rem 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.controlsContainer .control {
    list-style: none;
    display: block;
    margin: 1rem 0;
}

.controlsContainer .control:hover {
    cursor: pointer;
}

.controlsContainer .control img {
    width: 2.2rem;
    height: 2.2rem;
    margin: 0.5rem auto;
    display: block;
}

.controlsContainer .control span {
    font-size: 1rem;
    color: white;
}

.videoContainer {
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}

.controlsContainer video {
    width: 100%;
    padding: 0;
    margin: 0;
    /* margin: 0.5rem auto; */
}

.controlsContainer video:hover {
    cursor: pointer;
}

.controlsContainer #fileInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.controlsContainer label {
    margin: 0;
    padding: 0;
    cursor: pointer;
}
